
extends layout

block preview
  - var n = 1;
  - var subTotal = 0;
  - var cgst = 0;
  - var sgst = 0;
  .tg-wrap
    table.tg(style='undefined;table-layout: fixed; width: 748px')
      colgroup
        col(style='width: 30px')
        col(style='width: 320px')
        col(style='width: 90px')
        col(style='width: 90px')
        col(style='width: 90px')
        col(style='width: 90px')
        col(style='width: 30px')
      tr
        td.tg-cell(colspan='3')
          span(style='font-weight:bold') PRINTOGRAPH
          br
          | 02, Kaling Complex,
          br
          | Nr. Mount Carmel School,
          br
          | Ashram Road,
          br
          | Ahmedabad - 380009
          br
          span(style='font-weight:bold') Phone :
          |  26584963
          br
          span(style='font-weight:bold') Email :
          |           print_o_graph@yahoo.com
          br
          span(style='font-weight:bold') GSTIN :
          |  24ACPP3597P1IN
        td.tg-cell(colspan='4')
          span(style='font-weight:bold') Bill To Party : #{invoice.partyDetails.partyName}
          br
          | #{invoice.partyDetails.partyAdrLine1}
          br
          | #{invoice.partyDetails.partyAdrLine2}
          br
          | #{invoice.partyDetails.partyAdrLine3}
          br
          span(style='font-weight:bold') Invoice No. : #{invoice.number}
          br
          span(style='font-weight:bold') Invoice Date : #{invoice.date}
          br
          span(style='font-weight:bold') GSTIN : #{invoice.partyDetails.partyGSTIN}
          br
          span(style='font-weight:bold') State : #{invoice.partyDetails.partyState}
          br
          span(style='font-weight:bold') Code : #{invoice.partyDetails.partyCode}
      tr
        td.tg-centerAlignedGrayCell
          span(style='font-weight:bold') Sr.
          br
          span(style='font-weight:bold') No.
        td.tg-centerAlignedGrayCell
          span(style='font-weight:bold') Product Description
        td.tg-centerAlignedGrayCell
          span(style='font-weight:bold') HSN/
          br
          span(style='font-weight:bold') SAC
        td.tg-centerAlignedGrayCell
          span(style='font-weight:bold') Qty.
        td.tg-centerAlignedGrayCell
          span(style='font-weight:bold') Rate
        td.tg-centerAlignedGrayCell(colspan='2')
          span(style='font-weight:bold') Amount
      each product in invoice.productDetails
        - var amount = product.qty * product.rate
        - subTotal = subTotal + amount
        tr
          td.tg-cell #{n++}
          td.tg-cell #{product.description}
          td.tg-cell N/A
          td.tg-cell #{product.qty}
          td.tg-cell #{product.rate}
          td.tg-rightAlignedCell #{amount}
          td.tg-cell 00
      tr
        td.tg-grayCell(colspan='3')
          span(style='font-weight:bold') Total invoice amount in words
        td.tg-grayCell(colspan='2')
          span(style='font-weight:bold') Sub Total
        td.tg-rightAlignedCell #{subTotal}
        td.tg-cell 00
      tr
        td.tg-centerAlignedCell(colspan='3', rowspan='4')
        td.tg-grayCell
          span(style='font-weight:bold') CGST
        td.tg-cell #{invoice.cgst} %
        - cgst = (invoice.cgst * subTotal) / 100
        td.tg-rightAlignedCell #{cgst}
        td.tg-cell
      tr
        td.tg-grayCell
          span(style='font-weight:bold') SGST
        td.tg-cell #{invoice.sgst} %
        - sgst = (invoice.sgst * subTotal) / 100
        td.tg-rightAlignedCell #{sgst}
        td.tg-cell
      tr
        td.tg-grayCell(colspan='2')
          span(style='font-weight:bold') Round Off
        td.tg-rightAlignedCell
        td.tg-cell
      tr
        td.tg-grayCell(colspan='2')
          span(style='font-weight:bold') Net Amount
        td.tg-rightAlignedCell
        td.tg-cell
      tr
        td.tg-cell(colspan='3')
          span(style='font-weight:bold') Subject to Ahmedabad Jurisdiction
          br
          span(style='font-weight:bold') E. & O.E.
        td.tg-centerAlignedCell(colspan='4')
          span(style='font-weight:bold') For, Printograph
          br
          br
          br
          br
          span(style='font-weight:bold') Signature
  form(action='/products/save', method='POST')
    input(type='submit', value='Save Invoice')
